<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description"
        content="Zona Echo ofera casti, microfoane, boxe, mouse-uri, tastaturi si alte periferice audio-video cu optiunea de achizitie online si livrare prin curier.">
    <meta name="keywords" content="Zona Echo, casti, microfoane, boxe, mouse, tastatura, periferice audio, audio-video">
    <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
    <title>Zona Echo - Produse</title>
    <%- include("../fragmente/head") %>
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <script type="text/javascript" src=/resurse/js/produse-cos.js></script>
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />

</head>

<body>


    <%- include("../fragmente/header") %>

        <main>
            <div class="container-filtrare">
                <div class="row g-3">

                    <div class="col-12 col-md-3">
                        <p>Caută:</p>
                        <div class="filtru-box h-100">
                            <div class="form-floating">
                                <textarea class="form-control" id="inp-nume" placeholder="Caută după nume"
                                    style="resize: none;"></textarea>
                                <label for="inp-nume">Nume</label>
                            </div>
                            <label for="inp-caract-datalist" class="form-label mt-2">Caracteristică
                                specifică:</label>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="inp-caract-datalist" list="list-caract"
                                    placeholder="ex: Microfon">
                                <label for="inp-caract-datalist" id="inp-caract-datalist-error"
                                    style="display:none">Caracteristică invalidă</label>
                                <label id="lbl-caract-datalist">Caracteristică</label>
                            </div>
                            <datalist id="list-caract">
                                <% if (locals.caracteristiciValori) { locals.caracteristiciValori.forEach(function(val)
                                    { %>
                                    <option value="<%- val %>">
                                        <% }); } %>
                            </datalist>
                        </div>
                    </div>


                    <div class="col-12 col-md-3">
                        <div class="filtru-box h-100">
                            <p class="mb-2">Greutate (grame):</p>
                            <div class="btn-group-vertical w-100" role="group" aria-label="Filtru greutate">
                                <input type="radio" class="btn-check" name="gr_rad" id="i_rad1" autocomplete="off"
                                    value="0:100">
                                <label class="btn btn-outline-primary" for="i_rad1">Ușor ( &lt; 100g )</label>

                                <input type="radio" class="btn-check" name="gr_rad" id="i_rad2" autocomplete="off"
                                    value="100:500">
                                <label class="btn btn-outline-primary" for="i_rad2">Mediu (100 - 500g)</label>

                                <input type="radio" class="btn-check" name="gr_rad" id="i_rad3" autocomplete="off"
                                    value="500:1000000">
                                <label class="btn btn-outline-primary" for="i_rad3">Greu ( &ge; 500g )</label>

                                <input type="radio" class="btn-check" name="gr_rad" id="i_rad4" autocomplete="off"
                                    value="toate" checked>
                                <label class="btn btn-outline-primary" for="i_rad4">Toate</label>
                            </div>

                            <label for="inp-excl-caracteristici" class="form-label mt-3">Selectați valorile pe care
                                NU le doriți:</label>
                            <select multiple class="form-select" id="inp-excl-caracteristici" size="5">
                                <% if (locals.caracteristiciValori) { locals.caracteristiciValori.forEach(function(val)
                                    { %>
                                    <option value="<%- val %>"><%- val %></option>
                                    <% }); } %>
                            </select>
                        </div>
                    </div>


                    <div class="col-12 col-md-3">
                        <div class="filtru-box h-100">
                            <label for="inp-pret" class="form-label">Preț minim: <span id="infoRange">(<%-
                                        locals.pretMin %>)</span></label>


                            <input type="range" class="form-range m-0" id="inp-pret" value="<%- locals.pretMin %>"
                                min="<%- locals.pretMin %>" max="<%- locals.pretMax %>"
                                data-pret-min="<%- locals.pretMin %>" data-pret-max="<%- locals.pretMax %>">

                            <label for="inp-categorie" class="form-label mt-3">Categorie:</label>
                            <select class="form-select" id="inp-categorie"
                                data-tip-selectat="<%= locals.tipSelectat || '' %>">
                                <option id="sel-toate" value="toate" <%- (!locals.tipSelectat) ? 'selected' : '' %>
                                    >Toate</option>
                                <% for (let opt of locals.optiuni) { %>
                                    <option value="<%- opt.unnest %>" <%- (locals.tipSelectat===opt.unnest) ? 'selected'
                                        : '' %>><%- opt.unnest %></option>
                                    <% } %>
                            </select>

                            <p class="mb-2 mt-3">Destinație utilizare:</p>
                            <div id="grup-destinatie">
                                <% if (locals.destinatii) { locals.destinatii.forEach(function(d) { %>
                                    <input class="btn-check checkbox-destinatie" type="checkbox"
                                        id="dest-<%- d.unnest.replace(/[\s\/]/g,'-') %>" value="<%- d.unnest %>"
                                        autocomplete="off" checked>
                                    <label class="btn btn-outline-primary btn-sm mb-2" style="margin: 0.1em;"
                                        for="dest-<%- d.unnest.replace(/[\s\/]/g,'-') %>">
                                        <%- d.unnest %>
                                    </label>
                                    <% }); } %>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="filtru-box filtru-butoane h-100 d-flex flex-column gap-2">
                            <p class="mb-2">Opțiuni:</p>

                            <button class="btn btn-primary w-100" id="sortCrescNume">
                                <i class="bi bi-sort-up"></i>
                                <span class="btn-text"> Sortează crescător</span>
                            </button>
                            <button class="btn btn-primary w-100" id="sortDescrescNume">
                                <i class="bi bi-sort-down"></i>
                                <span class="btn-text"> Sortează descrescător</span>
                            </button>
                            <button class="btn btn-secondary w-100" id="resetare">
                                <i class="bi bi-arrow-counterclockwise"></i>
                                <span class="btn-text"> Resetează</span>
                            </button>
                            <button class="btn btn-primary w-100" id="filtrare">
                                <i class="bi bi-funnel-fill"></i>
                                <span class="btn-text"> Filtrează</span>
                            </button>
                            <button class="btn btn-success w-100" id="calculare">
                                <i class="bi bi-calculator-fill"></i>
                                <span class="btn-text"> Calculează total</span>
                            </button>

                            <div id="container-erori" class="mt-5" style="display:none"></div>
                        </div>
                    </div>
                </div>

            </div>
            </div>

            <section id="produse">

                <h2>Produse</h2>
                <div class="grid-produse">
                    <% for( let prod of locals.produse) { %>
                        <article class="produs <%- prod.tip_produs.replace(/\s+/g, '') %>" id="ar_ent_<%- prod.id %>">
                            <h3 class="nume text-center mt-3"><a href="/produs/<%-prod.id %>"><span class="val-nume"><%-
                                            prod.nume%></span></a></h3>

                            <div class="produs-grid-container p-3 gap-3">
                                <% /* Prima coloana */ %>
                                    <div class="coloana-1 d-flex flex-column align-items-center text-center">
                                        <p class="categorie mb-2"><b class="eticheta-caracteristica">Tip produs:</b>
                                            <span class="val-categorie"><%- prod.tip_produs%></span>
                                        </p>
                                        <figure class="produs-imagine-card">
                                            <a href="/produs/<%-prod.id %>"><img class="produs-img"
                                                    src="/resurse/imagini/produse/<%- prod.imagine %>"
                                                    alt="[imagine <%- prod.nume %>]" /></a>
                                        </figure>
                                        <p class="descriere-scurta m-0"><span class="val-descriere"><%- prod.descriere
                                                    %></span></p>
                                    </div>

                                    <% /* A doua coloana */ %>
                                        <div class="coloana-2 d-flex flex-column justify-content-center text-start">
                                            <p class="m-0"><b class="eticheta-caracteristica">Preț:</b> <span
                                                    class="val-pret"><%- prod.pret%></span> RON</p>
                                            <p class="m-0"><b class="eticheta-caracteristica">Greutate:</b> <span
                                                    class="val-greutate"><%- prod.greutate%></span>g</p>
                                            <p class="m-0"><b class="eticheta-caracteristica">Rezistență apă:</b> <span
                                                    class="val-rezistenta"><%- prod.rezistenta_apa || 'Nu' %></span></p>
                                            <p class="m-0"><b class="eticheta-caracteristica">Caracteristici:</b> <span
                                                    class="val-caracteristici"><%- (prod.caracteristici ||
                                                        []).join(', ') %></span></p>
                                    
                                    <% 
                                        const luni = ["Ianuarie", "Februarie", "Martie", "Aprilie", "Mai", "Iunie", "Iulie", "August", "Septembrie", "Octombrie", "Noiembrie", "Decembrie"];
                                        const zile = ["Duminica", "Luni", "Marti", "Miercuri", "Joi", "Vineri", "Sambata"];
                                        const d = new Date(prod.data_adaugare);
                                        const dataFormatata = d.getDate() + "-" + luni[d.getMonth()] + "-" + d.getFullYear() + " [" + zile[d.getDay()] + "]";
                                    %>
                                    <p class="m-0"><b class="eticheta-caracteristica">Data adăugare:</b> <time datetime="<%- d.toISOString().split(' T')[0] %>"><%-
                                                            dataFormatata %></time></p>
                                            <p class="m-0"><b class="eticheta-caracteristica">Disponibil magazin:</b>
                                                <span class="val-stoc"><%- prod.expediat_in_magazin ? 'Da' : 'Nu'
                                                        %></span>
                                            </p>
                                            <p class="m-0"><b class="eticheta-caracteristica">Destinație:</b> <span
                                                    class="val-destinatie"><%- prod.destinatie_utilizare%></span></p>

                                            <div class="actions">
                                                <span class="wrapper-btn-comparare">
                                                    <button class="btn btn-outline-primary btn-comparare btn-sm"
                                                        data-prod-id="<%- prod.id %>"
                                                        data-prod='<%- JSON.stringify(prod) %>'>
                                                        <i class="fa-solid fa-scale-balanced"></i> Compara
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                            </div>
                        </article>
                        <% }%>
                </div>
            </section>
        </main>

        <%- include("../fragmente/comparare_ui") %>
            <%- include("../fragmente/footer") %>
</body>

</html>